/*Para el carrusel*/

.carousel-inner {
    max-height: 30rem;
}

/*Para las pantallas de disp moviles*/

@media (max-width:768px){
    #cuerpo{
        width: 90%;
    }
    .p-centrar{
        width: 100%;
        text-align: center;
    }
}

/*Para el pie de pagina*/

footer{
    min-height: 50px;
}

footer p{
    color: black;
    text-align: center;
    color: white;
}

#iconos i{
    font-size: 26px;
    padding: 0 8px;
    color: white;
}


